@model WebTinTucTraining.Models.HelloModel
@{ 
    ViewBag.Title = "Trang Chủ";
}
<div>
    <p>@ViewBag.Hello</p>
    <p>@ViewData["Xinchao"]</p>
    <p>Tên: @Model.FirstName</p>
    <p>Họ: @Model.LastName</p>
    <a href="/test"><h2>Test Controller</h2></a>
    <br />
    @Html.ActionLink("Test Controller nữa","Index","Test")
</div>